#home,
#edit {
  display: flex;
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    min-height: calc(100vh - 116px);
    &--selected {
      padding: 30px;
      .container {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
    &--default {
      input {
        visibility: hidden;
        width: 0;
        height: 0;
        cursor: default;
        opacity: 0;
      }
      p {
        font-size: 18px;
        span {
          color: $orange;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
